.page {
    width: 100%;
    height: 100%;
    position: relative; /* Change to relative to fit within the viewport */
}

.html-tag {
    top:45px;
    margin-left: -1vw;
}
.top-tags {
    bottom: auto;
    top: 70px;
    margin-left: -0.5vw;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px; /* Responsive font size */
    font-family: 'La Belle Aurore';
}

.bottom-tags {
    bottom: 35px;
    margin-left: -0.5vw;
}
.bottom-tag-html {
    margin-left: -1vw;
}

.container {
    width: 100%;
    height: 90%;
    min-height: 601px;
    position: relative; /* Change to relative */
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.about-page, .contact-page{
    .text-zone  {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 53px;
            font-family: 'Coolvetica';
            color: #ffd700;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;

            &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                opacity: 0.6;
                line-height: 18px;
            }

            &::after {
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                left: -30px;
                bottom: -20px;
                margin-left: 20px;
                opacity: 0.6;
            }
        }

        p {
            font-size: 13px;
            color: #fff;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1){
                animation-delay: 1.1s;
            }

            &:nth-of-type(2){
                animation-delay: 1.2s;
            }

            &:nth-of-type(3){
                animation-delay: 1.3s;
            }
        }
    }

    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
}

.text-animate-hover {
    &:hover {
        color: #fff;
    }
}

/* Media Query for fine-tuning on smaller screens */
@media screen and (max-width: 768px) {
    .tags {
        display: none;
    }

    .container {
        top: 10%; /* Adjusted top position */
        overflow: hidden;
    }

    .about-page, .contact-page {
        .text-zone {
            width: 90%; /* Adjusted width for smaller screens */
            left: 5%; /* Adjusted left position */
        }

        h1 {
            font-size: 8vw; /* Adjusted font size for smaller screens */
            margin-bottom: 6vw; /* Adjusted margin */
            left: 0; /* Resetting left position */
        }

        p {
            font-size: 2vw; /* Adjusted font size for smaller screens */
        }
    }
}
